services:
  azwap:
    image: ghcr.io/azielcf/az-wap:latest
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    restart: "on-failure"
    ports:
      - "3000:3000"
    env_file:
      - src/.env
