name: Build and publish Docker image to GHCR

on:
  push:
    tags:
      - 'v*' # Se ejecuta al pushear tags tipo v1.0.0

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/golang.Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/az-wap:latest
            ghcr.io/${{ github.repository_owner }}/az-wap:${{ github.ref_name }}
